i {
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
}

.art {
  border-radius: 20px; 
  height: 250px; 
  width: 250px;
}

.plus-jakarta-sans-circular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.item1 { grid-area: cover-art; align-self: center; z-index: 2; text-align: right; }
.item2 { grid-area: title; align-self: center; z-index: 2; }
.item3 { grid-area: playback; text-align: center;}

.grid-container {
    display: grid;
    grid-template-areas: 
      'cover-art title'
      'cover-art title'
      'playback  playback';
    gap: 20px;
    height: 480px;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image {
  filter: blur(10px) brightness(50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  width: 800px;
  background-image: url("https://i.scdn.co/image/ab67616d00001e021c58a541c0a73c0aad5b9f36");
}
  